#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
XTENSA_ARCH=unknown

ifeq (${DEB_HOST_ARCH},linux-amd64)
	XTENSA_ARCH=linux64
endif

ifeq (${DEB_HOST_ARCH},linux-i386)
	XTENSA_ARCH=linux32
endif

ifeq (${DEB_HOST_ARCH},windows-i386)
	XTENSA_ARCH=win32
endif

ifeq (${DEB_HOST_ARCH},windows-amd64)
	XTENSA_ARCH=win32
endif

ifeq (${DEB_HOST_ARCH},darwin-amd64)
	XTENSA_ARCH=osx
endif

%:
	dh $@ 

override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_strip:
override_dh_perl:
override_dh_installdocs:
override_dh_installchangelogs:
override_dh_link:
override_dh_compress:
override_dh_fixperms:
override_dh_makeshlibs:
override_dh_shlibdeps:

override_dh_auto_build:
	wget -c https://raw.githubusercontent.com/esp8266/Arduino/master/package/package_esp8266com_index.template.json
	rm -rf build
	mkdir -p build
	grep '"url": ".*/${XTENSA_ARCH}-xtensa-lx106-elf' package_esp8266com_index.template.json | awk '{print $$2}' | cut -f2 -d'"' | sort | uniq | wget -c -i -
	tar -C build -zxf `grep '"archiveFileName": "${XTENSA_ARCH}-xtensa-lx106-elf' package_esp8266com_index.template.json | awk '{print $$2}' | cut -f2 -d'"' | sort -r | uniq | head -n 1`

override_dh_auto_clean:
	rm -rf build
